article {
  display: flex;
  margin: 2em 0;
  min-width: 100%;
}

img {
  width: 200px;
  min-width: 200px;
  height: 150px;
  object-fit: cover;
}

.detail {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  text-align: left;
  margin-left: 16px;
  min-width: max-content;

  h1 {
    font-size: 1.2em;
  }

  div {
    display: flex;
    justify-content: space-between;
  }
}

.author {
  font-weight: bold;
}
